<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ player_name }}&apos;s Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sc2wolTracker.css') }}"/>
    <script type="application/ecmascript" src="{{ url_for('static', filename='assets/sc2wolTracker.js') }}"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/jura" type="text/css"/>
</head>

<body>
    
    <div style="margin-bottom: 0.5rem">
        <a href="{{ url_for("get_generic_game_tracker", tracker=room.tracker, tracked_team=team, tracked_player=player) }}">Switch To Generic Tracker</a>
    </div>

    <div id="player-tracker-wrapper" data-tracker="{{ room.tracker|suuid }}">
        <table id="inventory-table">
            <tr>
                <td colspan="15" class="title">
                    Starting Resources
                </td>
            </tr>
            <tr>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/icons/icon-mineral-protoss.png" class="" title="Starting Minerals" /></td>
                <td colspan="2"><div class="item-count">+0</div></td>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/icons/icon-gas-terran.png" class="" title="Starting Vespene" /></td>
                <td colspan="2"><div class="item-count">+0</div></td>
                <!--
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/d/d3/TerranSupply_SC2_Icon1.gif" class="" title="Starting Supply" /></td>
                <td colspan="2"><div class="item-count">+0</div></td>
                -->
            </tr>
            <tr>
                <td colspan="15" class="title">
                    Weapon & Armor Upgrades dsa
                </td>
            </tr>
            <tr>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/upgrades/btn-upgrade-terran-infantryweaponslevel1.png" class="" title="Progressive Infantry Weapons" /></td>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/upgrades/btn-upgrade-terran-infantryarmorlevel1.png" class="" title="Progressive Infantry Armor" /></td>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/upgrades/btn-upgrade-terran-vehicleweaponslevel1.png" class="" title="Progressive Vehicle Weapons" /></td>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/upgrades/btn-upgrade-terran-vehicleplatinglevel1.png" class="" title="Progressive Vehicle Armor" /></td>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/upgrades/btn-upgrade-terran-shipweaponslevel1.png" class="" title="Progressive Ship Weapons" /></td>
                <td><img src="https://sclegacy.com/images/uploaded/starcraftii_beta/gamefiles/upgrades/btn-upgrade-terran-shipplatinglevel1.png" class="" title="Progressive Ship Armor" /></td>
                <td colspan="2"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/2/23/SC2_Lab_Ultra_Capacitors_Icon.png" class="" title="Ultra-Capacitors" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/6/67/SC2_Lab_VanPlating_Icon.png" class="" title="Vanadium Plating" /></td>
            </tr>
            <tr>
                <td colspan="15" class="title">
                    Base
                </td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/c/c5/Bunker_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Bunker" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ProjectileAccelerator.png" class="{{ 'acquired' }}" title="Projectile Accelerator (Bunker)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/NeosteelBunker.png" class="{{ 'acquired' }}" title="Neosteel Bunker (Bunker)" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/4/44/SC2_Lab_Shrike_Turret_Icon.png" class="{{ 'acquired' }}" title="Shrike Turret (Bunker)" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/4/4f/SC2_Lab_FortBunker_Icon.png" class="{{ 'acquired' }}" title="Fortified Bunker (Bunker)" /></td>
                <td colspan="3"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/5/5f/MissileTurret_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Missile Turret" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/TitaniumHousing.png" class="{{ 'acquired' }}" title="Titanium Housing (Missile Turret)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/HellstormBatteries.png" class="{{ 'acquired' }}" title="Hellstorm Batteries (Missile Turret)" /></td>
            </tr>
            <tr>
                <td><img src="https://0rganics.org/archipelago/sc2wol/OrbitalCommandCampaign.png" class="{{ 'acquired' }}" title="Orbital Command (Building)" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/e/ef/SC2_Lab_CC_Reactor_Icon.png" class="{{ 'acquired' }}" title="Command Center Reactor" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/0/0b/SC2_Lab_PlanetFortress_Icon.png" class="{{ 'acquired' }}" title="Planetary Fortress" /></td>
                <td></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/AdvancedConstruction.png" class="{{ 'acquired' }}" title="Advanced Construction (SCV)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Dual-FusionWelders.png" class="{{ 'acquired' }}" title="Dual-Fusion Welders (SCV)" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/2/20/SC2_Lab_MicroFilter_Icon.png" class="{{ 'acquired' }}" title="Micro-Filtering" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/7/71/SC2_Lab_Auto_Refinery_Icon.png" class="{{ 'acquired' }}" title="Automated Refinery" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/c/c5/SC2_Lab_Tech_Reactor_Icon.png" class="{{ 'acquired' }}" title="Tech Reactor" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/0/01/SC2_Lab_Orbital_Depot_Icon.png" class="{{ 'acquired' }}" title="Orbital Depots" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/d/d2/SensorTower_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Sensor Tower" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/a/af/SC2_Lab_PerdTurret_Icon.png" class="{{ 'acquired' }}" title="Perdition Turret" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/b/bc/SC2_Lab_Hive_Emulator_Icon.png" class="{{ 'acquired' }}" title="Hive Mind Emulator" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/c/cf/SC2_Lab_Psi_Disruptor_Icon.png" class="{{ 'acquired' }}" title="Psi Disrupter" /></td>
            </tr>
            <tr>
                <td colspan="7" class="title">
                    Infantry
                </td>
                <td></td>
                <td colspan="7" class="title">
                    Vehicles
                </td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/4/47/Marine_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Marine" /></td>
                
                <td><img src="https://0rganics.org/archipelago/sc2wol/CombatShieldCampaign.png" class="{{ 'acquired' }}" title="Combat Shield (Marine)" /></td>
                <td><img src="/static/static/icons/sc2/lasertargetingsystem.png" class="{{ 'acquired' }}" title="Laser Targeting System (Marine)" /></td>
                <td><img src="/static/static/icons/sc2/magrailmunitions.png" class="{{ 'acquired' }}" title="Magrail Munitions (Marine)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Marine)" /></td>
                <td colspan="2"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/5/56/Hellion_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Hellion" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Twin-LinkedFlamethrower.png" class="{{ 'acquired' }}" title="Twin-Linked Flamethrower (Hellion)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ThermiteFilaments.png" class="{{ 'acquired' }}" title="Thermite Filaments (Hellion)" /></td>
                <td><img src="/static/static/icons/sc2/hellionbattlemode.png" class="{{ 'acquired' }}" title="Hellbat Aspect (Hellion)" /></td>
                <td><img src="/static/static/icons/sc2/transformationservos.png" class="{{ 'acquired' }}" title="Smart Servos (Hellion)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Hellion)" /></td>
                <td><img src="/static/static/icons/sc2/jumpjets.png" class="{{ 'acquired' }}" title="Jump Jets (Hellion)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/7/74/Medic_SC2_Rend1.jpg" class="{{ 'acquired' }}" title="Medic" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/AdvancedMedicFacilities.png" class="{{ 'acquired' }}" title="Advanced Medic Facilities (Medic)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/StabilizerMedpacks.png" class="{{ 'acquired' }}" title="Stabilizer Medpacks (Medic)" /></td>
                <td><img src="/static/static/icons/sc2/restoration.png" class="{{ 'acquired' }}" title="Restoration (Medic)" /></td>
                <td><img src="/static/static/icons/sc2/opticalflare.png" class="{{ 'acquired' }}" title="Optical Flare (Medic)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Medic)" /></td>
                <td colspan="2"></td>
                <td></td>
                
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/3/3c/Firebat_SC2_Rend1.jpg" class="{{ 'acquired' }}" title="Firebat" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/IncineratorGauntlets.png" class="{{ 'acquired' }}" title="Incinerator Gauntlets (Firebat)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/JuggernautPlating.png" class="{{ 'acquired' }}" title="Juggernaut Plating (Firebat)" /></td>
                
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Firebat)" /></td>
                <td colspan="3"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/d/da/Vulture_WoL.jpg" class="{{ 'acquired' }}" title="Vulture" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ReplenishableMagazine.png" class="{{ 'acquired' }}" title="Replenishable Magazine (Vulture)" /></td>
                <td><img src="/static/static/icons/sc2/emergencythrusters.png" class="{{ 'acquired' }}" title="Ion Thrusters (Vulture)" /></td>
                <td><img src="/static/static/icons/sc2/jotunboosters.png" class="{{ 'acquired' }}" title="Auto Launchers (Vulture)" /></td>
                <td></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/CerberusMine.png" class="{{ 'acquired' }}" title="Cerberus Mine (Spider Mine)" /></td>
                <td><img src="/static/static/icons/sc2/high-explosive-spidermine.png" class="{{ 'acquired' }}" title="High Explosive Munition (Spider Mine)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/b/ba/Marauder_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Marauder" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ConcussiveShellsCampaign.png" class="{{ 'acquired' }}" title="Concussive Shells (Marauder)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/KineticFoam.png" class="{{ 'acquired' }}" title="Kinetic Foam (Marauder)" /></td>
                
                <td><img src="/static/static/icons/sc2/lasertargetingsystem.png" class="{{ 'acquired' }}" title="Laser Targeting System (Marauder)" /></td>
                <td><img src="/static/static/icons/sc2/magrailmunitions.png" class="{{ 'acquired' }}" title="Magrail Munitions (Marauder)" /></td>
                <td><img src="/static/static/icons/sc2/internalizedtechmodule.png" class="{{ 'acquired' }}" title="Internal Tech Module (Marauder)" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/e/eb/Goliath_WoL.jpg" class="{{ 'acquired' }}" title="Goliath" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Multi-LockWeaponsSystem.png" class="{{ 'acquired' }}" title="Multi-Lock Weapons System (Goliath)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Ares-ClassTargetingSystem.png" class="{{ 'acquired' }}" title="Ares-Class Targeting System (Goliath)" /></td>
                <td><img src="/static/static/icons/sc2/jumpjets.png" class="{{ 'acquired' }}" title="Jump Jets (Goliath)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Goliath)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/7/7d/Reaper_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Reaper" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/U-238Rounds.png" class="{{ 'acquired' }}" title="U-238 Rounds (Reaper)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/G-4Clusterbomb.png" class="{{ 'acquired' }}" title="G-4 Clusterbomb (Reaper)" /></td>
                
                <td><img src="/static/static/icons/sc2/lasertargetingsystem.png" class="{{ 'acquired' }}" title="Laser Targeting System (Reaper)" /></td>
                <td><img src="/static/static/icons/sc2/terran-cloak-color.png" class="{{ 'acquired' }}" title="Advanced Cloaking Field (Reaper)" /></td>
                <td><img src="/static/static/icons/sc2/spidermine.png" class="{{ 'acquired' }}" title="Spider Mines (Reaper)" /></td>
                <td></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/a/a6/Diamondback_WoL.jpg" class="{{ 'acquired' }}" title="Diamondback" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Tri-LithiumPowerCell.png" class="{{ 'acquired' }}" title="Tri-Lithium Power Cell (Diamondback)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ShapedHull.png" class="{{ 'acquired' }}" title="Shaped Hull (Diamondback)" /></td>
                <td><img src="/static/static/icons/sc2/hyperfluxor.png" class="{{ 'acquired' }}" title="Hyperfluxor (Diamondback)" /></td>
                <td><img src="/static/static/icons/sc2/burstcapacitors.png" class="{{ 'acquired' }}" title="Burst Capacitors (Diamondback)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Diamondback)" /></td>
            </tr>
            <tr>
                <td></td>
                <td><img src="/static/static/icons/sc2/reapercombatdrugs.png" class="{{ 'acquired' }}" title="Combat Drugs (Reaper)" /></td>
                <td colspan="6"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/5/57/SiegeTank_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Siege Tank" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/MaelstromRounds.png" class="{{ 'acquired' }}" title="Maelstrom Rounds (Siege Tank)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ShapedBlast.png" class="{{ 'acquired' }}" title="Shaped Blast (Siege Tank)" /></td>
                <td><img src="/static/static/icons/sc2/jumpjets.png" class="{{ 'acquired' }}" title="Jump Jets (Siege Tank)" /></td>
                <td><img src="/static/static/icons/sc2/siegetank-spidermines.png" class="{{ 'acquired' }}" title="Spider Mines (Siege Tank)" /></td>
                <td><img src="/static/static/icons/sc2/transformationservos.png" class="{{ 'acquired' }}" title="Smart Servos (Siege Tank)" /></td>
                <td><img src="/static/static/icons/sc2/siegetankrange.png" class="{{ 'acquired' }}" title="Graduating Range (Siege Tank)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/6/6e/Ghost_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Ghost" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/OcularImplants.png" class="{{ 'acquired' }}" title="Ocular Implants (Ghost)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/CriusSuit.png" class="{{ 'acquired' }}" title="Crius Suit (Ghost)" /></td>
                <td><img src="/static/static/icons/sc2/terran-emp-color.png" class="{{ 'acquired' }}" title="EMP Rounds (Ghost)" /></td>
                <td><img src="/static/static/icons/sc2/lockdown.png" class="{{ 'acquired' }}" title="Lockdown (Ghost)" /></td>
                <td colspan="3"></td>
                <td></td>
                <td><img src="/static/static/icons/sc2/lasertargetingsystem.png" class="{{ 'acquired' }}" title="Laser Targeting System (Siege Tank)" /></td>
                <td><img src="/static/static/icons/sc2/improvedsiegemode.png" class="{{ 'acquired' }}" title="Advanced Siege Tech (Siege Tank)" /></td>
                <td><img src="/static/static/icons/sc2/internalizedtechmodule.png" class="{{ 'acquired' }}" title="Internal Tech Module (Siege Tank)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/0/0d/Spectre_WoL.jpg" class="{{ 'acquired' }}" title="Spectre" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/PsionicLash.png" class="{{ 'acquired' }}" title="Psionic Lash (Spectre)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Nyx-ClassCloakingModule.png" class="{{ 'acquired' }}" title="Nyx-Class Cloaking Module (Spectre)" /></td>
                <td><img src="/static/static/icons/sc2/impalerrounds.png" class="{{ 'acquired' }}" title="Impaler Rounds (Spectre)" /></td>
                <td colspan="4"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/e/ef/Thor_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Thor" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/330mmBarrageCannon.png" class="{{ 'acquired' }}" title="330mm Barrage Cannon (Thor)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ImmortalityProtocol.png" class="{{ 'acquired' }}" title="Immortality Protocol (Thor)" /></td>
                
            </tr>
            <tr>
                <td colspan="8"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/8/83/SC2_Lab_Predator_Icon.png" class="{{ 'acquired' }}" title="Predator" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Predator)" /></td>
            </tr>
            <tr>
                <td colspan="8"></td>
                <td><img src="/static/static/icons/sc2/widowmine.png" class="{{ 'acquired' }}" title="Widow Mine" /></td>
                <td><img src="/static/static/icons/sc2/drillingclaws.png" class="{{ 'acquired' }}" title="Drilling Claws (Widow Mine)" /></td>
                <td><img src="/static/static/icons/sc2/widowminehidden.png" class="{{ 'acquired' }}" title="Concealment (Widow Mine)" /></td>
                <td><img src="/static/static/icons/sc2/widowmine-attackrange.png" class="{{ 'acquired' }}" title="Black Market Launchers (Widow Mine)" /></td>
                <td><img src="/static/static/icons/sc2/widowmine-deathblossom.png" class="{{ 'acquired' }}" title="Executioner Missiles (Widow Mine)" /></td>
            </tr>
            <tr>
                <td colspan="8"></td>
                <td><img src="/static/static/icons/sc2/cyclone.png" class="{{ 'acquired' }}" title="Cyclone" /></td>
                <td><img src="/static/static/icons/sc2/magfieldaccelerator.png" class="{{ 'acquired' }}" title="Mag-Field Accelerators (Cyclone)" /></td>
                <td><img src="/static/static/icons/sc2/cyclonerangeupgrade.png" class="{{ 'acquired' }}" title="Mag-Field Launchers (Cyclone)" /></td>
                <td><img src="/static/static/icons/sc2/targetingoptics.png" class="{{ 'acquired' }}" title="Targeting Optics (Cyclone)" /></td>
                <td><img src="/static/static/icons/sc2/ripwavemissiles.png" class="{{ 'acquired' }}" title="Rapid Fire Launchers (Cyclone)" /></td>
            </tr>
            <tr>
                <td colspan="15" class="title">
                    Starships 
                </td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/d/db/Medivac_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Medivac" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/RapidDeploymentTube.png" class="{{ 'acquired' }}" title="Rapid Deployment Tube (Medivac)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/AdvancedHealingAI.png" class="{{ 'acquired' }}" title="Advanced Healing AI (Medivac)" /></td>
                <td><img src="/static/static/icons/sc2/neosteelfortifiedarmor.png" class="{{ 'acquired' }}" title="Expanded Hull (Medivac)" /></td>
                <td><img src="/static/static/icons/sc2/medivacemergencythrusters.png" class="{{ 'acquired' }}" title="Afterburners (Medivac)" /></td>
                <td colspan="3"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/1/19/SC2_Lab_Raven_Icon.png" class="{{ 'acquired' }}" title="Raven" /></td>
                <td><img src="/static/static/icons/sc2/biomechanicaldrone.png" class="{{ 'acquired' }}" title="Bio Mechanical Repair Drone (Raven)" /></td>
                <td><img src="/static/static/icons/sc2/siegetank-spidermines.png" class="{{ 'acquired' }}" title="Spider Mines (Raven)" /></td>
                <td><img src="/static/static/icons/sc2/autoturretblackops.png" class="{{ 'acquired' }}" title="Railgun Turret (Raven)" /></td>
                <td><img src="/static/static/icons/sc2/specialordance.png" class="{{ 'acquired' }}" title="Hunter-Seeker Weapon (Raven)" /></td>
                <td><img src="/static/static/icons/sc2/interferencematrix.png" class="{{ 'acquired' }}" title="Interference Matrix (Raven)" /></td>
                <td><img src="/static/static/icons/sc2/shreddermissile.png" class="{{ 'acquired' }}" title="Anti-Armor Missile (Raven)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/7/75/Wraith_WoL.jpg" class="{{ 'acquired' }}" title="Wraith" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/TomahawkPowerCells.png" class="{{ 'acquired' }}" title="Tomahawk Power Cells (Wraith)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/DisplacementField.png" class="{{ 'acquired' }}" title="Displacement Field (Wraith)" /></td>
                <td><img src="/static/static/icons/sc2/improvedburstlaser.png" class="{{ 'acquired' }}" title="Advanced Laser Technology (Wraith)" /></td>
                <td colspan="4"></td>
                <td></td>
                <td><img src="/static/static/icons/sc2/internalizedtechmodule.png" class="{{ 'acquired' }}" title="Internal Tech Module (Raven)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/2/2a/Viking_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Viking" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/RipwaveMissiles.png" class="{{ 'acquired' }}" title="Ripwave Missiles (Viking)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Phobos-ClassWeaponsSystem.png" class="{{ 'acquired' }}" title="Phobos-Class Weapons System (Viking)" /></td>
                <td><img src="/static/static/icons/sc2/transformationservos.png" class="{{ 'acquired' }}" title="Smart Servos (Viking)" /></td>
                <td><img src="/static/static/icons/sc2/magrailmunitions.png" class="{{ 'acquired' }}" title="Magrail Munitions (Viking)" /></td>
                <td colspan="3"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/c/c3/SC2_Lab_SciVes_Icon.png" class="{{ 'acquired' }}" title="Science Vessel" /></td>
                <td><img src="/static/static/icons/sc2/staticempblast.png" class="{{ 'acquired' }}" title="EMP Shockwave (Science Vessel)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/DefensiveMatrix.png" class="{{ 'acquired' }}" title="Defensive Matrix (Science Vessel)" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/3/32/Banshee_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Banshee" /></td>
                
                <td><img src="https://0rganics.org/archipelago/sc2wol/ShockwaveMissileBattery.png" class="{{ 'acquired' }}" title="Shockwave Missile Battery (Banshee)" /></td>
                <td><img src="/static/static/icons/sc2/hyperflightrotors.png" class="{{ 'acquired' }}" title="Hyperflight Rotors (Banshee)" /></td>
                <td><img src="/static/static/icons/sc2/lasertargetingsystem.png" class="{{ 'acquired' }}" title="Laser Targeting System (Banshee)" /></td>
                <td><img src="/static/static/icons/sc2/internalizedtechmodule.png" class="{{ 'acquired' }}" title="Internal Tech Module (Banshee)" /></td>
                <td colspan="2"></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/4/40/SC2_Lab_Hercules_Icon.png" class="{{ 'acquired' }}" title="Hercules" /></td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/f/f5/Battlecruiser_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Battlecruiser" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/MissilePods.png" class="{{ 'acquired' }}" title="Missile Pods (Battlecruiser)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/DefensiveMatrix.png" class="{{ 'acquired' }}" title="Defensive Matrix (Battlecruiser)" /></td>
                <td><img src="/static/static/icons/sc2/warpjump.png" class="{{ 'acquired' }}" title="Tactical Jump (Battlecruiser)" /></td>
                <td><img src="/static/static/icons/sc2/terran-cloak-color.png" class="{{ 'acquired' }}" title="Cloak (Battlecruiser)" /></td>
                <td><img src="/static/static/icons/sc2/specialordance.png" class="{{ 'acquired' }}" title="ATX Laser Battery (Battlecruiser)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Battlecruiser)" /></td>
                <td></td>
                <td><img src="/static/static/icons/sc2/liberator.png" class="{{ 'acquired' }}" title="Liberator" /></td>
                <td><img src="/static/static/icons/sc2/advanceballistics.png" class="{{ 'acquired' }}" title="Advanced Ballistics (Liberator)" /></td>
                <td><img src="/static/static/icons/sc2/terrandefendermodestructureattack.png" class="{{ 'acquired' }}" title="Raid Artillery (Liberator)" /></td>
                <td><img src="/static/static/icons/sc2/terran-cloak-color.png" class="{{ 'acquired' }}" title="Cloak (Liberator)" /></td>
                <td><img src="/static/static/icons/sc2/lasertargetingsystem.png" class="{{ 'acquired' }}" title="Laser Targeting System (Liberator)" /></td>
                <td><img src="/static/static/icons/sc2/optimizedlogistics.png" class="{{ 'acquired' }}" title="Optimized Logistics (Liberator)" /></td>
            </tr>
            <tr>
                <td></td>
                <td><img src="/static/static/icons/sc2/internalizedtechmodule.png" class="{{ 'acquired' }}" title="Internal Tech Module (Battlecruiser)" /></td>
                <td colspan="6"></td>
                <td><img src="/static/static/icons/sc2/valkyrie.png" class="{{ 'acquired' }}" title="Valkyrie" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/HellstormBatteries.png" class="{{ 'acquired' }}" title="Enhanced Cluster Launchers (Valkyrie)" /></td>
                <td><img src="https://0rganics.org/archipelago/sc2wol/ShapedHull.png" class="{{ 'acquired' }}" title="Shaped Hull (Valkyrie)" /></td>
                <td><img src="/static/static/icons/sc2/improvedburstlaser.png" class="{{ 'acquired' }}" title="Burst Lasers (Valkyrie)" /></td>
                <td><img src="/static/static/icons/sc2/medivacemergencythrusters.png" class="{{ 'acquired' }}" title="Afterburners (Valkyrie)" /></td>
            </tr>
            <tr>
                <td colspan="15" class="title">
                    Mercenaries
                </td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/e/ed/WarPigs_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="War Pigs" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/3/33/DevilDogs_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Devil Dogs" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/3/3b/HammerSecurity_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Hammer Securities" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/b/be/SpartanCompany_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Spartan Company" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/3/31/SiegeBreakers_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Siege Breakers" /></td>
                
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/5/52/DuskWings_SC2_Icon1.jpg" class="{{ 'acquired' }}" title="Dusk Wings" /></td>
                
            </tr>
            <tr>
                <td colspan="15" class="title">
                    General Upgrades
                </td>
            </tr>
            <tr>
                <td><img src="https://0rganics.org/archipelago/sc2wol/Fire-SuppressionSystem.png" class="{{ 'acquired' }}" title="Fire-Suppression System (Building)" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/d/df/SC2_Lab_Orb_Strike_Icon.png" class="{{ 'acquired' }}" title="Orbital Strike" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/d/d8/SC2_Lab_CellReactor_Icon.png" class="{{ 'acquired' }}" title="Cellular Reactor" /></td>
                <td><img src="/static/static/icons/sc2/SC2_Lab_BioSteel_L1.png" class="" title="Progressive Regenerative Bio-Steel" /></td>
            </tr>
            <tr>
                <td colspan="15" class="title">
                    Protoss Units
                </td>
            </tr>
            <tr>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/6/6e/Icon_Protoss_Zealot.jpg" class="" title="Zealot" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/0/0d/Icon_Protoss_Stalker.jpg" class="" title="Stalker" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/a/a0/Icon_Protoss_High_Templar.jpg" class="" title="High Templar" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/9/90/Icon_Protoss_Dark_Templar.jpg" class="" title="Dark Templar" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/c/c1/Icon_Protoss_Immortal.jpg" class="" title="Immortal" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/4/40/Icon_Protoss_Colossus.jpg" class="" title="Colossus" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/b/b1/Icon_Protoss_Phoenix.jpg" class="" title="Phoenix" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/1/1d/VoidRay_SC2_Rend1.jpg" class="" title="Void Ray" /></td>
                <td><img src="https://static.wikia.nocookie.net/starcraft/images/2/2c/Icon_Protoss_Carrier.jpg" class="" title="Carrier" /></td>
            </tr>
        </table>
        <table id="location-table">
            {% for area in checks_in_area %}
            {% if checks_in_area[area] > 0 %}
            <tr class="location-category" id="-header">
                <td>{{ area }} {{'▼' if area != 'Total'}}</td>
                <td class="counter">{{ checks_done[area] }} / {{ checks_in_area[area] }}</td>
            </tr>
            <tbody class="locations hide" id="{{area}}">
                {% for location in location_info[area] %}
                <tr>
                    <td class="location-name">{{ location }}</td>
                    <td class="counter">{{ '✔' if location_info[area][location] else '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</body>
</html>